// Place all the styles related to the public/menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//メニュー新規登録

.menu-top{
  display: flex;
}

.menu-new{
  display: block;
  width: 650px;
}

.row>*{
  padding: 0;
}

select#menu_genre_id{
  width: 200px;
}

.image-input-btn{
  display: block;
  background-color: #228B22;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  padding-top: 2px;
  color: white;
  text-decoration: none;
  text-align: center;
}

.image-input-btn.cook-image{
  display: block;
  background-color: #228B22;
  width: 80px;
  height: 37px;
  border-radius: 5px;
  padding-top: 7px;
  color: white;
  text-decoration: none;
  text-align: center;
}

a.btn.btn-secondary.btn-block.add_fields{
  width: 100%;
  margin-top: 10px;
}

.mx-auto{
  display: flex;
}

.cook-top{
  display: block;
  width: 300px;
}

textarea.form-control{
  height: 100%;
}

//メニュー一覧

.menu-index{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.menu-box{
  margin: 20px 0 20px 20px;
}

.menu-index-name{
  text-align: center;
  margin-top: 10px;
}

.menu-index-explanation{
  height: 30px;
  color: #93918f;
  font-size: 15px;
  margin-top: 10px;
}

.menu-image{
  border-radius: 30px;
}

//メニュー詳細
.menu-show-top{
  display: flex;
}

.menu-show{
  display: block;
  width: 600px;
  margin-top: 20px;
  margin-right: 30px;
}

.menu-show-title{
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  padding: 0 0 8px;
}

.menu-show-materials{
  display: flex;
  flex-flow: column nowrap;
  width: 500px;
  margin-top: 20px;
}

.materials-index{
  display: flex;
  flex-flow: column nowrap;
}

.material-show{
  border-bottom: solid 1px #f4f2f0;
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}