// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//会員
///新規登録

.main-title{
  text-align: center;
  padding: 50px 0;
}

.table-box{
  margin: 0 auto;
}

.sign{
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.text-box{
  padding-right: 100px;
}

input.sign{
  width: 250px;
  margin: 10px 0;
}

input.user-submit{
  width: 300px;
  margin: 20px 0;
}

.user-submit{
  margin: 0 auto;
}

//マイページ
.profile_image{
  border-radius:50%;
}

.user-menu-index{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.user-menu-box{
  width: 150px;
  margin: 0 30px;
  margin-top: 20px;
}

//会員編集
.edit-user{
  text-align: center;
}

.edit-user-box{
  display: flex;
}

//退会確認ページ
.unsubscribe{
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

//管理者
///会員一覧
.title-text{
  text-align: center;
}

.admin-users{
  width: 800px;
  margin: 20px auto;
  text-align: center;
}

.user-header{
  padding: 20px 10px;
}

.user-table{
  text-align: center;
}

.user-image{
  padding-top: 15px;
  max-width: 100px;
}