<h2>退会確認ページ</h2>
<h4>本当に退会させますか？</h4>
<p>退会すると、会員側が会員登録情報や</p>
<p>これまでの日記が閲覧できなくなります。</p>
<p>退会する場合は、「退会する」をクリックして下さい。</p>
<%= link_to '退会しない', admin_user_path(@user) %>
<%= link_to '退会する', admin_withrawal_path, method: :patch %>