<h4 class="main-title">本当に退会しますか？</h4>
<div class="unsubscribe">
  <p>退会すると、会員登録情報や</p>
  <p>これまでの日記が閲覧できなくなります。</p>
  <p>退会する場合は、「退会する」をクリックして下さい。</p>
  <%= link_to '退会しない', user_path(current_user.id) %>
  <%= link_to '退会する', withrawal_path, method: :patch %>
</div>